
.contenedor_comp_esp .swiper {
    width: 100%;
    height: 80vh;
  }

  .contenedor_comp_esp .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor_comp_esp .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contenedor_comp_esp .sw-sldr_1{
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/img_fondo_vent.jpg);
      width: 100%;
      height: auto;
      background-size: cover;
      background-position: center;
  }

  .contenedor_comp_esp .sw-sldr_2{
      background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_1.jpg);
      width: 100%;
      height: auto;
      background-size: cover;
      background-position: center;
  }

  .contenedor_comp_esp .sw-sldr_3{
      background-image:linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_2.jpg);
      width: 100%;
      height: auto;
      background-size: cover;
      background-position: center;
  }

  .contenedor_comp_esp .sw-sldr_4{
    background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)),url(../img/img_fondo_vent_3.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.contenedor_comp_esp .sw-sldr_5{
  background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_4.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.contenedor_comp_esp .sw-sldr_6{
  background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_5.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.contenedor_comp_esp .sw-sldr_7{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/DSC06780.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

  .contenedor_comp_esp .cuadro-transp{
      color: #f1d2d2;
      width: 60%;
      max-width: 900px;
      margin: auto;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 15px;
  }

  .contenedor_comp_esp .cuadro-transp h2{
    color: #fff;
}
  .contenedor_comp_esp .cuadro-transp li{
    list-style: none;
  }

  .contenedor_comp_esp .cuadro-transp p{
    font-size: 16px;
  }

  .estilo_txt_lista{
    font-size: 17px;
  }




  /* respsonsividad telefono */

  .contenedor_comp_esp2 .swiper {
    width: 100%;
    height: 80vh;
  }

  .contenedor_comp_esp2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor_comp_esp2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contenedor_comp_esp2 .sw-sldr_1{
      background-image:  linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent.jpg);
      width: 100%;
      height: auto;
      background-size: cover;
      background-position: center;
  }

  .contenedor_comp_esp2 .sw-sldr_2{
      background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_1.jpg);
      width: 100%;
      height: auto;
      background-size: cover;
      background-position: center;
  }

  .contenedor_comp_esp2 .sw-sldr_3{
      background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_1.jpg);
      width: 100%;
      height: auto;
      background-size: cover;
      background-position: center;
  }

  .contenedor_comp_esp2 .sw-sldr_4{
    background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_2.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.contenedor_comp_esp2 .sw-sldr_5{
  background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_3.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.contenedor_comp_esp2 .sw-sldr_6{
  background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_3.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.contenedor_comp_esp2 .sw-sldr_7{
  background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_4.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.contenedor_comp_esp2 .sw-sldr_8{
  background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_4.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.contenedor_comp_esp2 .sw-sldr_9{
  background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_5.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.contenedor_comp_esp2 .sw-sldr_10{
  background-image: linear-gradient(to bottom, rgba(240,248,255,0.7), rgba(240,248,255,0.7)), url(../img/img_fondo_vent_5.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

  .contenedor_comp_esp2 .cuadro-transp{
      color: #fff;
      width: 90%;
      margin: auto;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 15px;
  }

  .contenedor_comp_esp2 .cuadro-transp li{
    list-style: none;
  }

  .contenedor_comp_esp2  .estilo_txt_lista{
    font-size: 15px;
  }

  .contenedor_comp_esp2 h2{
    color: #ffffff;
  }

  .contenedor_comp_esp2 p{
    font-size: 15px;
  }

  @media (max-width:668px) {
    .contenedor_comp_esp{
      display: none;
    }
     
   }

   @media ((min-width:669px) and (max-width:968px)) {
    .contenedor_comp_esp .cuadro-transp{
      width: 80%;

  }

  .estilo_txt_lista{
    font-size: 17px;
  }

  .contenedor_comp_esp2{
    display: none;
  }
   
     
 }

 @media (min-width:969px) {
  .contenedor_comp_esp2{
    display: none;
  }

  .contenedor_comp_esp2 p{
    font-size: 16px;
  }
   
 }


